* {
    font-family: Arial;
    text-decoration: none;
    font-size: 16px;
}

h1 {
    text-align: center;
}

a {
    display: block;
    text-align: center;
}

button {
    background: #8b0000;
    color: #fff;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    padding: 13px 20px;
}

button.save-btn {
    background: #90ee90;
    color: #000;
}

table {
    border-collapse: collapse;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

tr {
    height: 50px;
}

thead tr {
    background:#FFED86;
}

tbody tr {
    border-bottom: 1px solid #E3F1D5 ;
}

form.data-input {
    width: 300px;
    padding: 30px;
    margin: 0 auto;
    border-radius: 6px;
    background: #edf2f7;
}

form div {
    width: 100%;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    border: none;
    border-radius: 6px;
    height: 40px;
}

form textarea {
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 6px;
}

.show-data {
    width: 500px;
    margin: 0 auto;
}
